// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
$card-md-margin-left: 0;
$card-md-margin-right: 0;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  // primary:    #F65B28,
  primary:    #54d582,
  palm-leaf: #35452D,
  like: #ff5b58,
  white: #F7F7F7,
  grey: #CDCDCD,
  light-grey: #D3D2D0,
  fiery-orange: #AE5A32,
  gold: #FAC309,
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$toolbar-ios-title-text-color: map-get($colors, palm-leaf);


// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$toolbar-md-title-text-color: map-get($colors, palm-leaf);

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

$toolbar-wp-title-text-color: map-get($colors, palm-leaf);

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


$ionicons-font-path: "../assets/fonts";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
// @import "ionic.ionicons";
@import "ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
$font-family-md-base: "Handlee";
$font-family-ios-base: "Handlee";
$font-family-wp-base: "Handlee";