// http://ionicframework.com/docs/v2/theming/
@import "../theme/icons";

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Handlee|Patrick+Hand+SC');

[text-vertical-align] > * {
  vertical-align: middle;
}

[vertical-align] {
  vertical-align: middle;
}

[inline-block] {
  display: inline-block;
}

[bg-white] {
  background: white !important;
}

ion-content {
  background: white
}

.content-md {
  background-color: #f7f7f7;
}

ion-navbar.toolbar {
  // padding-top: 3.5vh;
}